<main class="main">
    <div class="page-content">
        <div class="rm-api-class">
            <h1 class="rm-api-header">Computer Universe</h1>
            <input type="input" id="rm-name" placeholder="Character name"/>
            <button id="btn">Search</button>
            <div class="rick-and-morty" style="position: relative">
                <div id="preloader"></div>
                <div id="character-image"></div>
                <div id="character-name"></div>
                <div id="character-status-type"></div>
                <div id="character-gender"></div>
                <div id="character-origin"></div>
                <div id="character-first-episode"></div>
            </div>
        </div>
    </div>
</main>