<div class="auth">
    <input class="login" type="text" value="" placeholder="Login" autofocus>
    <input class="password" type="text" value="" placeholder="Password" autofocus>
    <button class="button-for-login" type="submit">
         Login
    </button>
</div>