<main class="main">
    <div class="contacts-content">
        <p class="contacts">
            Email: SND_PC@mail.ru
            <br>
            Телефон: <a href="tel: +7 904 088 88 88" class="phone-number">+79040888888</a>
            <br>
            <a href="https://vk.com/LookLikeLie"><img src="assets/images/vk-logo.png" alt="" style="width: 5%"></a>
            <a href="https://t.me/LookLikeLie"><img src="assets/images/Telegram_2019_Logo.svg.webp" alt=""
                                                    style="width: 5%"></a>
            <br>
            Наш магазин:
        </p>
        <div class="contacts-map">
            <script type="text/javascript" charset="utf-8"
                    async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0f32328737187b7131096f74ca7bd9a9d9bc6fccc716525b972fc50413c0db18&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true">
            </script>
        </div>
    </div>
</main>