<footer class="footer">
    <p class="footer-p">Postnikov production LTD.<a href="https://t.me/LookLikeLie"><img
            src="../../public/assets/images/telegram.svg.webp" alt="" style="width: 60px"></a></p>
    <p id="page-load"></p>
    <p id="page-load"> + {{dataTime}} ms (server)</p>
</footer>