<header class="header">
    <div class="logo">
        <img src="assets/images/logo.png" alt="">
        <a href="index">
            <h1 class="site-name">
                SND
            </h1>
        </a>
    </div>
    {{>authorized}}
    <form class="search-form">
        <input class="place-for-search" type="text" id="text-to-find" value="" placeholder="Поиск по сайту" autofocus>
        <button class="button-for-search" type="submit"
                onclick="javascript: FindOnPage('text-to-find',true); return false;" value=" " title="Find">
            Find
        </button>
    </form>
</header>