<head>
    <meta charset="UTF-8">
    <title>SND</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles/style.css">
    <script defer src="assets/scripts/page-load.js"></script>
    <script src="/assets/scripts/find-on-page.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=VT323&display=swap"
          rel="stylesheet">
</head>