<main class="main">

    <section class="section">
        <div class="current-image">
            <img src="assets/images/video.jpg" alt="" class="current-position">
        </div>
        <div class="current-description">
            <h2 class="about-pos-head">Видеокарта Palit GeForce RTX 3060 Dual</h2>
            <p class="short-about-pos">
                PCI-E 4.0 12 ГБ GDDR6, 192 бит, DisplayPort x3, HDMI, GPU 1320 МГц
            </p>
        </div>
        <div class="price">
            <h2 class="digit-price">380$</h2>
            <div class="white-space-price"></div>
            <img src="assets/images/pngwing.com.png" alt="" class="add-icon">
        </div>
    </section>

    <section class="section">
        <div class="current-image">
            <img src="assets/images/processor.jpg" alt="" class="current-position">
        </div>
        <div class="current-description">
            <h2 class="about-pos-head">Процессор Intel Core i5-12400F OEM</h2>
            <p class="short-about-pos">
                LGA 1700, 6 x 2.5 ГГц, L2 - 7.5 МБ, L3 - 18 МБ, 2 х DDR4, DDR5-4800 МГц, TDP 117 Вт
            </p>
        </div>
        <div class="price">
            <h2 class="digit-price">140$</h2>
            <div class="white-space-price"></div>
            <img src="assets/images/pngwing.com.png" alt="" class="add-icon">
        </div>
    </section>

    <section class="section">
        <div class="current-image">
            <img src="assets/images/MB.png" alt="" class="current-position">
        </div>
        <div class="current-description">
            <h2 class="about-pos-head">Материнская плата GIGABYTE B550 AORUS ELITE V2</h2>
            <p class="short-about-pos">
                AM4, AMD B550, 4xDDR4-3200 МГц, 3xPCI-Ex16, 2xM.2, Standard-ATX
            </p>
        </div>
        <div class="price">
            <h2 class="digit-price">130$</h2>
            <div class="white-space-price"></div>
            <img src="assets/images/pngwing.com.png" alt="" class="add-icon">
        </div>
    </section>

    <section class="section">
        <div class="current-image">
            <img src="assets/images/ddr.jpg" alt="" class="current-position">
        </div>
        <div class="current-description">
            <h2 class="about-pos-head">Оперативная память Kingston FURY Beast Black</h2>
            <p class="short-about-pos">
                DDR4, 8 ГБx2 шт, 3200 МГц, 16-18-18-36
            </p>
        </div>
        <div class="price">
            <h2 class="digit-price">60$</h2>
            <div class="white-space-price"></div>
            <img src="assets/images/pngwing.com.png" alt="" class="add-icon">
        </div>
    </section>

    <section class="section">
        <div class="current-image">
            <img src="assets/images/corpus.jpg" alt="" class="current-position">
        </div>
        <div class="current-description">
            <h2 class="about-pos-head">Корпус ARDOR GAMING Rare M2 ARGB черный</h2>
            <p class="short-about-pos">
                Mid-Tower, E-ATX, Micro-ATX, Mini-ITX, Standard-ATX, USB 2.0 Type-A, USB 3.2 Gen1 Type-A, ARGB вентиляторы, 4 x 120 мм
            </p>
        </div>
        <div class="price">
            <h2 class="digit-price">75$</h2>
            <div class="white-space-price"></div>
            <img src="assets/images/pngwing.com.png" alt="" class="add-icon">
        </div>
    </section>

    <section class="section">
        <div class="current-image">
            <img src="assets/images/BP.jpg" alt="" class="current-position">
        </div>
        <div class="current-description">
            <h2 class="about-pos-head">Блок питания DEEPCOOL PF600</h2>
            <p class="short-about-pos">
                600 Вт, 80+, APFC, 20 + 4 pin, 4+4 pin x2 CPU, 6 SATA, 6+2 pin x4 PCI-E
            </p>
        </div>
        <div class="price">
            <h2 class="digit-price">45$</h2>
            <div class="white-space-price"></div>
            <img src="assets/images/pngwing.com.png" alt="" class="add-icon">
        </div>
    </section>

    <section class="section">
        <div class="current-image">
            <img src="assets/images/cooler.jpg" alt="" class="current-position">
        </div>
        <div class="current-description">
            <h2 class="about-pos-head">Кулер для процессора DEEPCOOL AK620</h2>
            <p class="short-about-pos">
                основание - медь, 1850 об/мин, 28 дБ, 4 pin, 260 Вт
            </p>
        </div>
        <div class="price">
            <h2 class="digit-price">50$</h2>
            <div class="white-space-price"></div>
            <img src="assets/images/pngwing.com.png" alt="" class="add-icon">
        </div>
    </section>

</main>