<nav class="navigate">
    <ul>
        <a href="/index">
            <li> Shop</li>
        </a>
        <a href="/about">
            <li> About</li>
        </a>
        <a href="/contacts">
            <li> Contacts</li>
        </a>
        <a href="/wishlist">
            <li> WishList</li>
        </a>
        <a href="/review">
            <li> Review</li>
        </a>
        <a href="/registration">
            <li> Registration</li>
        </a>
        <a href="/help">
            <li> Help</li>
        </a>
    </ul>
</nav>