<main class="main">
    <div class="page-content">
        <div class="review-generator">
            <h1 class="review-header">Registration</h1>
            <div class="element-list">
                <ul id="list">
                    <li><input type="text" id="login" placeholder="Enter new login"/></li>
                    <li><input type="text" id="pass" placeholder="Enter new password"/></li>
                    <li><input type="text" id="mail" placeholder="Enter new email"/></li>
                    <li><input type="text" id="name" placeholder="Enter new name"/></li>
                    <li><button id="add-btn">зарегестрироваться</button></li>
                </ul>
            </div>
        </div>
    </div>
</main>