<main class="main">
    <div class="page-content">
        <div class="review-generator">
            <h1 class="review-header">Reviews</h1>
            <div class="add-element">
                <input type="text" id="review" placeholder="Enter your review"/>
                <button id="add-btn">+</button>
            </div>
            <div class="element-list">
                <ul id="list">
                </ul>
            </div>
        </div>
    </div>
</main>