<main class="main">
    <div class="page-content">
        <div class="todo-generator">
            <h1 class="todo-header">WishList</h1>
            <div class="add-element" id="sosu">
                <input type="text" id="todo" placeholder="Enter your wish"/>
                <button id="add-btn">+</button>
                <button id="del-btn">🗑</button>
            </div>
            <div class="element-list">
                <ul id="list">
                </ul>
            </div>
        </div>
    </div>
</main>