<!DOCTYPE HTML>
<html lang="ru">
    {{>head}}
<body class="home_page">
<div class="wrapper">
    {{>header}}
    {{>menu}}
    <hr>
    {{>apiMain}}
    <hr>
    {{>footer}}
</div>
<script src="assets/scripts/rm-api.js"></script>
</body>
</html>