<!DOCTYPE HTML>
<html lang="ru">
    {{>head}}
<body class="home_page">
<div class="wrapper">
    {{>header}}
    {{>menu}}
    <hr>
    {{>contactsMain}}
    <hr>
    {{>footer}}
</div>
</body>
</html>