<!DOCTYPE HTML>
<html lang="ru">
    {{>head}}
<body class="home_page">
<div class="wrapper">
    {{>header}}
    {{>menu}}
    <hr>
    {{>indexMain}}
    {{>footer}}
</div>
<script src="/assets/scripts/mainPage.js"></script>
</body>
</html>